#logo{
  width: 200px;
  height: 95px;
  margin-left: 20px;
}.shopkart{
  width: 60px;
  height: 60px;
}
.icon{
  height: 24px;
  width: 24px;
}
.imagem-puffle-card{
  height: 100%;
  width: 100%;
}
.cb-img{
  width: 600px;
  height: 600px;
}
.iterable-shopkart{
  display: flex;
  align-items: center;
  padding: 5px;
}
